.umis-avatar__container {
  display: flex;
  cursor: pointer;
  .umis-avatar__logo {
    margin-right: 15px;
  }
  .umis-avatar__content {
    overflow: hidden;
  }
  .umis-avatar__title {
    margin-right: 30px;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 16px;
    color: #606266;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .umis-avatar__subtitle {
    text-align: left;
    color: #909399;
    font-weight: 400;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .umis-avatar__description {
    font-size: 13px;
    color: #303133;
    line-height: 1.5;
  }
}
