.umis-crud__container__header {
  height: 38px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #fafafa;
  white-space: nowrap;
  &.border {
    border: 1px solid #ebeef5;
    border-bottom: 0;
  }
}
.umis-crud__container__title {
  width: 50%;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #606266;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}
.umis-crud__container__tools {
  width: 50%;
  display: inline-block;
  text-align: right;
}
.umis-crud__container__tool {
  margin-left: 10px;
}
.umis-crud__container__pagination {
  margin-top: 10px;
}
