.umis-form__container {
  .umis-form__field {
    display: inline-block;
  }
  .umis-form__field__label {
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }
  .umis-form__combo {
    padding: 10px;
    border: 1px dashed #dee2e6;
    &:hover {
      border: 1px dashed #409eff;
    }
    .el-form-item {
      margin: 0 10px !important;
    }
    .el-form-item__label-wrap {
      margin-left: 0 !important;
    }
  }
  .umis-form__combo__item {
    display: flex;
    margin-bottom: 20px;
  }
  .umis-form__combo__delete {
    color: #409eff;
    &:hover {
      cursor: pointer;
      color: #F56C6C;
    }
  }
  .umis-form__container__legend {
    border-left: solid 4px;
    line-height: 26px;
    padding-left: 10px;
  }
  .umis-form__container__fieldset {
    border: 0;
  }
  .el-collapse,
  .el-collapse-item__header,
  .el-collapse-item__wrap {
    border: 0 !important;
  }
  .el-collapse-item__arrow {
    margin: 0 8px !important;
  }
}
.umis-data__debug {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  overflow-x: auto;
}
