body {
  margin: 0;
}
.mis-avatar-margin {
  margin: 20px;
}

.umis-layout__container {
  height: 100vh;
  border: 1px solid #eee;

  .umis-layout__container__aside {
    width: 100%;
    background-color: #545c64;

    .umis-layout__container__aside__menu {
      border-right: 1px;
    }
  }

  .umis-layout__container__drawer {
    background-color: #3a3f51; // #282a36 !important;

    .el-drawer__header {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: 0 20px 0 20px;
      color: #72767b;
    }
  }
  .umis-layout__container__header {
    border-bottom: 1px solid #dcdfe6;
    line-height: 60px;
    text-align: right;
    font-size: 12px;
    background-color: white;
  }
}

.el-loading-spinner {
  .circular {
    background-image: url('~assets/imgs/loading.svg');
    background-position: center;
    background-size: cover;
    animation: loading-rotate 1s linear infinite;
    animation-direction: reverse;
  }
  .path {
    display: none;
  }
}
