.umis-setting__cards {
  .umis-setting__card-margin {
    margin: 10px 0;
    .el-card__header {
      padding: 8px 20px;
    }
  }
  .umis-setting__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.umis-setting__api-editor {
  width: 100%;
}
.umis-setting__api-editor__item {
  display: flex;
  padding: 11px 0;
  background: #f5f5f5;
}
.umis-setting__api-editor__plus {
  padding: 11px 0;
  background: #f5f5f5;
}
.umis-setting__api-editor__delete {
  margin: 0 10px;
}
.umis-setting__api-editor__label,
.umis-setting__api-editor__value {
  padding: 0 12px 0 0;
}
.umis-setting__api-editor__radio {
  display: flex;
  align-items: center;
}
.umis-setting__style-editor {
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
}
