.umis-toolmaker-wrapper {
  overflow: hidden;
  background-color: rgb(234, 234, 234);
  user-select: none;
}
.umis-toolmaker__menu {
  position: absolute;
  width: 280px;
  height: calc(100vh - 110px);
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  overflow-y: scroll;
}
.umis-toolmaker__menu__item {
  width: 127px;
  height: 28px;
  display: inline-block;
  margin: 5px;
  padding: 0 8px;
  border: 1px solid #ccc;
  background: #f6f7fb;
  cursor: move;
  white-space: nowrap;
  list-style-type: none;
}
.umis-toolmaker__menu__item__label {
  height: 28px;
  line-height: 28px;
  display: inline-block;
  margin-left: 5px;
  color: #5e6d82;
}
.umis-toolmaker__container {
  position: relative;
  margin-left: 280px;
  padding: 20px;
  height: calc(100vh - 110px);
  background-color: #f2f2f2;
  overflow-y: scroll;
  .umis-service__body,
  .wrapper__container,
  .umis-form__container,
  .umis-card,
  .el-aside,
  .el-footer,
  .el-header,
  .el-main,
  .el-divider--horizontal {
    position: relative;
    min-height: 75px;
    padding: 25px;
    background: white;
    border: 1px solid #DDDDDD;
    &:after {
      position: absolute;
      top: -1px;
      right: -1px;
      padding: 3px 7px;
      border: 1px solid #DDDDDD;
      background: rgba(245, 245, 245, .1);
      color: #9DA0A4;
      content: attr(track-id);
      font-size: 12px;
      font-weight: bold;
    }
  }
}
.umis-toolmaker__active {
  background: rgba(66, 133, 244, .1);
  border: 1px dashed #4285f4;
}
.umis-toolmaker__wedgets {
  position: absolute;
}
.umis-toolmaker__mask {
  background: rgba(66, 133, 244, .1);
}
.umis-toolmaker__drawer__container {
  display: flex;
  flex-direction: column;
  .el-drawer__header {
    background-color: #282a36;
  }
}
.umis-toolmaker__drawer__content {
  padding: 0 20px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
.umis-toolmaker__drawer__footer {
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  text-align: right;
  background-color: #282a36;
}
