@mixin f-singleline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin f-multiline-ellipsis($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4b8bc;
  border: solid 1px #fff;
  border-radius: 2px;
}

.umis-router-loading {
  height: 5px;
  top: 0;
  &::before {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #409eff;
    transform-origin: 0% 50%;
    animation: growth 400ms ease-in-out;
    content: '';
  }
  .el-loading-spinner {
    width: 100%;
    margin-top: 0 !important;
    text-align: right;
    position: absolute;
    .circular {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
@keyframes growth {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
