@keyframes skeleton-stripes {
 from {
  background-position: 0 0;
 }
 to {
  background-position: 20rem 0;
 }
}
@keyframes skeleton-strech {
 from {
  transform: scaleX(1);
 }
 to {
  transform: scaleX(.3);
 }
}
.ft-card-skeleton-wrapper {
 padding: 50px 12px 0 12px;
 .ft-card-skeleton {
  position: relative;
  width: 351px;
  height: 109px;
  margin-bottom: 10px;
  display: flex;
  border-radius: 8px;
  background: white;
  overflow: hidden;
  .ft-card-skeleton-discount {
   width: 106px;
   margin: 19px;
   box-sizing: border-box;
   animation: skeleton-stripes 1s linear infinite;
  }
  .ft-card-skeleton-content {
   width: 100%;
   margin-top: 19px;
   margin-right: 19px;
   .ft-card-skeleton-title {
    flex: 1;
    height: 21px;
    margin-bottom: 14px;
    transform-origin: left;
    animation: skeleton-strech 1s linear infinite alternate;
   }
   .ft-card-skeleton-text {
    flex: 1;
    height: 34px;
    transform-origin: left;
    animation: skeleton-strech 1s -.3s linear infinite alternate;
   }
  }
 }
 .ft-card-frame {
  background-size: 20rem 20rem;
  background: rgb(194, 207, 214);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%);
 }
}